.shop {
  width: 100%;
  font-family: $archivo;

  &__title {
    display: flex;

    & h2 {
      font-style: normal;
      font-size: 30px;
      line-height: 35px;
      margin-bottom: 0;
      font-weight: bold;
      color: $black;
    }
    & :nth-child(2) {
      font-weight: normal;
      color: $subTitle;
    }
  }
  &__main {
    display: flex;
  }
}
