.product_list {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}

@media (min-width: 1070px) {
  .product_list {
    justify-content: space-between;
  }
}
